#testimonials {
    width: $container-lg;

    .swiper-wrapper {
        margin-bottom: 4rem;
    }

    .container {
        article {
            @include gradientBackground;
            padding: 1.5rem 2rem;
            border-radius: 1rem;
            cursor: default;
            font-size: .9rem;

            p {
                margin-bottom: 1.5rem;
            }

            .patient {
                display: flex;
                align-items: center;
                gap: 1rem;

                .avatar {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    overflow: hidden;
                }


            }


            }
    }
    .swiper-pagination-bullet {
        background-color: $primary-color;
    }
}

// MEDIA QUERIES (SMALL)
@media screen and (max-width: 600px) {
    #testimonials {
        .container {
            article {
                padding: 1.5rem;
            }
        }
    }
}